<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao Diện Khách Hàng</title>
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style2.css">
</head>

<body>
    <div class="container">
        <header class="header bg-dark-subtle mb-3">
            <h1>Siêu thị trực tuyến</h1>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giỏ hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <main>
            <div class="row mb-3">
                <div class="col-9">
                    <div class="banner mb-3">
                        <img src="../../public/assets/img/banner.webp" alt="">
                    </div>
                    <div class="card-item mb-3">
                        <div class="card">
                            <img src="../../public/assets/img/background.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../public/assets/img/background.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="../../public/assets/img/background.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row mb-3">
                        <div class="box-title">Tài khoản</div>
                        <div class="box-content">
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Ghi nhớ tài khoản?</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </form>
                            <li>
                                <a href="">Quên mật khẩu</a>
                            </li>
                            <li>
                                <a href="">Đăng ký thành viên</a>
                            </li>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="box-title">Danh mục</div>
                        <div class="box-content menu">
                            <ul class="menu-item">
                                <li class="menu-list">
                                    <a class="menu-links" href="">Bàn phím</a>
                                </li>
                                <li class="menu-list">
                                    <a class="menu-links" href="">Chuột Gaming</a>
                                </li>
                                <li class="menu-list">
                                    <a class="menu-links" href="">LapTop</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box-title">Top 10 yêu thích</div>
                        <div class="box-content card">
                            <div class="product">
                                <img src="../../public/assets/img/logo.png" alt="">
                                <a href="">Laptop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer bg-dark-subtle mb-3">
            <span>&copy;Copyright 2023 DuAnMau</span>
        </footer>
    </div>

</body>

</html>