<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Trị</title>
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-3 box-left">
                <ul class="menu-list">
                    <li class="menu-items">
                        <a href="" class="menu-links">
                            <img src="../../public/assets/img/logo.png" alt="">
                        </a>
                    </li>
                    <li class="menu-items">
                        <a href="" class="menu-links">Tổng quan</a>
                    </li>
                    <li class="menu-items">
                        <a href="" class="menu-links">Quản lý loại hàng</a>
                    </li>
                    <li class="menu-items">
                        <a href="" class="menu-links">Quản lý hàng hóa</a>
                    </li>
                    <li class="menu-items">
                        <a href="" class="menu-links">Quản lý khách hàng</a>
                    </li>
                    <li class="menu-items">
                        <a href="" class="menu-links">Quản lý bình luận</a>
                    </li>
                    <li class="menu-items">
                        <a href="" class="menu-links">Quản lý thống kê</a>
                    </li>
                </ul>
            </div>
            <div class="col-9 box-right">
                <div class="head-top">
                    <div class="menu-content d-flex justify-content-between">
                        <ul class="head-menu d-flex ">
                            <li class="menu-item active">
                                <a href="#" class="menu-link">Trang quản trị</a>
                            </li>
                            <li class="menu-item">
                                <a href="../indexHome.php" class="menu-link">Trang khách hàng</a>
                            </li>
                        </ul>
                        <div class="admin-profile">
                            <div class="admin-view">
                                <h4 class="hi">Hi, <span class="name">Quản trị viên</span></h4>
                            </div>
                        </div>
                    </div>
                    <h3 class="menu-title">Tổng quan</h3>
                </div>
                <div class="head-between">
                    <div class="between-container border border-primary">
                        <div class="card-header">
                            <div class="card-content">
                                <h5 class="card-tile">Danh sách danh mục sản phẩm</h5>
                                <h6 class="card-des">Danh sách các danh mục sản phẩm có trên hệ thống</h6>
                            </div>
                            <div class="card-add">
                                <a href="" class="box-link add">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                                            <path
                                                d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                                                fill="#000000" opacity="0.3"></path>
                                        </g>
                                    </svg>
                                    Thêm mới danh mục
                                </a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Tên Loại</th>
                                        <th scope="col">Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td></td>
                                        <td>
                                            <a href="" class="btn btn-warning">Sửa</a>
                                            <a onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm không?')"
                                                href="" class="
                                                    btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="head-footer">
                    <ul class="head-contact">
                        <li class="contact-item">
                            <a href="#" class="contect-link">About</a>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contect-link">Team</a>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contect-link">Contact</a>
                        </li>
                    </ul>
                    <div class="copy-right">
                        <span class="year">2024 &copy;</span>
                        <span class="copy">Tùng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../public/assets/js/bootstrap.min.js"></script>
</body>

</html>